.commentItem {
  &:not(:last-child) {
    margin-bottom: 1rem;   
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: .5rem;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;  
      overflow: hidden;

      padding-left: .5rem;
      margin: 0;
      line-height: 1.5rem !important;
    }
  }

  p {
    margin: 0;
  }
}